@charset "UTF-8";

.restaurant_page {
	display: block;
	width: 900px;
	margin: 0 auto;
	position: relative;
}

.restaurant_info {
	display: flex;
	flex-direction: column;
	margin : 100px 70px;
	
}

.restaurant_detail_wrap {
	border-bottom: 1px solid #ddd; 
}

.title_wrap {
	margin-bottom: 20px;
}

.title_wrap span {
	font-size: 25px;
}

.title {
	margin-right: 8px;
}

.rate_point {
	color: orange;
}
	
.bookmark {
	float: right;
	text-align: center;
}

.bookmark img {
	width: 38px;
}

.bookmark_txt {
	font-size: 12px;
	color: gray;
}

#wannaEat {
	cursor: pointer; 
}

.review {
	cursor: pointer; 
}

.review_icon {
	float: right;
	text-align: center;
	margin-right: 15px;
}

.review_icon img {
	width: 34px;
	margin-top: 3px;
}

.review_txt {
	font-size: 12px;
	color: gray;
}

p {
	margin: 0;
}

.status {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd; 
}

.status img {
	width: 17px;
	margin-right: 2px;
    vertical-align: middle;
}

.status span {
	color: gray;
	margin-right: 7px;
}

table {
	width: 53%;	
	margin-top: 25px;
}

th, td {
	text-align: left;
	vertical-align: top;
	font-size: 15px;
}

th {
	padding-bottom: 10px;
	width: 20%;
	color: gray;	
}

.menu_img {
	float: right;
}

.menu_img img {
	width: 250px;
	height: 250px;
	margin: 15px;
}

/* -- 식당 사진 슬라이드쇼 시작 -- */
#slideShow { 
	width: 350px; 
	height: 250px; 
	position: relative; 
	margin: 0 auto; 
	overflow: hidden; /*리스트 형식으로 이미지를 일렬로 정렬할 것이기 때문에, 350px 밖으로 튀어 나간 이미지들은 hidden으로 숨겨줘야됨*/ 
}

.slides { 
	position: absolute; 
	left: 0; 
	top: 0; 
	padding-left: 32px;
	width: 2500px; /* 슬라이드할 사진과 마진 총 넓이 */ 
	transition: left 0.5s ease-out; /*ease-out: 처음에는 느렸다가 점점 빨라짐*/ 
}

/* 첫 번째 슬라이드 가운데에 정렬하기위해 첫번째 슬라이드만 margin-left조정 */
.slides li:first-child { 
	margin-left: 0;
}

/* 슬라이드들 옆으로 정렬 */ 
.slides li:not(:last-child) { 
	float: left; 
	margin-right: 100px; 
}

.slides li{
  float: left;
}

.controller span { 
	position: absolute; 
	background-color: transparent; 
	color: black; 
	text-align: center; 
	border-radius: 50%; 
	padding: 10px 20px; 
	top: 50%; 
	font-size: 1.3em; 
	cursor: pointer; 
}

/* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */ 
.controller span:hover { 
	background-color: rgba(128, 128, 128, 0.11); 
}

.next{
  right: 10px;
}

/* 다음 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 오른쪽으로 이동하는 효과*/ 
.next:hover { 
	transform: translateX(10px); 
}

/* -- 식당 사진 슬라이드쇼 끝 -- */

/* .review_box div {
	border: 1px solid #ddd;
} */

.review_list {
	display: flex;
	flex-direction: column;
	padding: 20px 0 70px 0;
	border-bottom: 1px solid #ddd;
}

.profile {
	position: relative;
}

.profile img {
	width: 60px;
}

.writer {
	position: absolute;
	margin-top: 70px;
	margin-left: 8px;
}

.content {
	position: absolute;
	margin-left: 80px;
}

.map_wrap {
	margin: 150px 0 40px 10px;
}

#map {
	width: 400px;
	height: 328px;
}

.btn4 { 
	color: #000; 
	border-radius: 30px; 
	transition: transform 0.3 ease; 
	box-shadow: 0.3s ease; 
	background-color: white; 
	border-color: white;
}

.btn4:hover { 
	transform: translate(0, -6px);
}

.btn5{ 
	color: white; 
	border-radius: 30px; 
	background-color: orange; 
	border-color: white;
	cursor: pointer;
	margin-top: 10px;
}

.paging {
	text-align: center;
	margin : 10px;
}