@charset "UTF-8";

#log {
	width: 420px;
	height: 56px;
	font-size: 20px;
	outline: none;
	border: solid;
	border-color: orange;
	border-radius: 10px;
	margin: 10px;
}

#btn {
	width: 420px;
	height: 56px;
	margin: 50px;
	background-color: darkorange;
	border-radius: 50px;
	color: white;
	font-size: 20px;
}

input::placeholder {
	color: Gainsboro;
}

/* li {
	list-style: none;
	display: inline-block;
	margin: 10px;
} */

a {
	color: gray;
	text-align: center;
	text-decoration-line: none;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#td2, #td3 {
	border-left: 1px solid black;
}

.container{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;	
}